.linkEntrarMenu {
  font-weight: 400;
  margin: 0em 0.7em;
  font-size: 0.9em;
  font-weight: normal;
  color: #fff;
  padding: 0 6px;
  letter-spacing: 2px;
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.linkEntrarMenu:hover {
  color: #f75225;
  cursor: pointer;
}

.linkItemRecemPostado:hover {
  color: #f75225;
}

#espacoInferiorLogin {
  margin-bottom: 5%;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 0 0 10px 0;
  background: #fff;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.espacoInferiorUsuario{
    margin-bottom: 2%;
}

.espacoAcima {
    margin-top: 10% !important;
}

.espacoSuperiorSidebarUser {
    margin-top: 18%;
}

.espacoIcon{
  margin-left: 5%;
}

.tituloPagUser{
  font-size: 2em !important;
}

.espacoInferiorFotoPerfilEditar{
  margin-bottom: 2%;
}

.espacoInferiorEditarUsuario{
  margin-bottom: 5%;
}

.espacoLabelsCadastroUsuario{
  margin-top: 3.2%;
}

.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  }
  .chip.chip-md img {
  height: 42px;
  width: 42px;
  }
  .chip.chip-md .close {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  }
  .chip.chip-lg {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
  }
  .chip.chip-lg img {
  height: 52px;
  width: 52px;
  }
  .chip.chip-lg .close {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
  }

  .aEsquerda{
    float: left;
  }

  .negrito{
    font-weight: bold !important;
  }

  .espacoDireita{
    margin-right: 3px;
  }