.linkEntrarMenu {
  font-weight: 400;
  margin: 0em 0.7em;
  font-size: 0.9em;
  font-weight: normal;
  color: #fff;
  padding: 0 6px;
  letter-spacing: 2px;
  display: inline-block;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

.linkEntrarMenu:hover {
  color: #f75225;
  cursor: pointer;
}

.botaoMaisHome {
  background-color: #f75225 !important;
  color: #fff !important;
}

.linkItemRecemPostado:hover {
  color: #f75225;
}

#espacoInferiorLogin {
  margin-bottom: 5%;
}

.profile {
  margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
  padding: 0 0 10px 0;
  background: #fff;
}

.profile-usertitle {
  text-align: center;
  margin-top: 20px;
}

.profile-usertitle-name {
  color: #5a7391;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 7px;
}

.profile-usertitle-job {
  text-transform: uppercase;
  color: #5b9bd1;
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 15px;
}

.profile-userbuttons {
  text-align: center;
  margin-top: 10px;
}

.profile-userbuttons .btn {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  padding: 6px 15px;
  margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
  margin-right: 0px;
}
    
.profile-usermenu {
  margin-top: 30px;
}

.profile-usermenu ul li {
  border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
  border-bottom: none;
}

.profile-usermenu ul li a {
  color: #93a3b5;
  font-size: 14px;
  font-weight: 400;
}

.profile-usermenu ul li a i {
  margin-right: 8px;
  font-size: 14px;
}

.profile-usermenu ul li a:hover {
  background-color: #fafcfd;
  color: #5b9bd1;
}

.profile-usermenu ul li.active {
  border-bottom: none;
}

.profile-usermenu ul li.active a {
  color: #5b9bd1;
  background-color: #f6f9fb;
  border-left: 2px solid #5b9bd1;
  margin-left: -2px;
}

/* Profile Content */
.profile-content {
  padding: 20px;
  background: #fff;
  min-height: 460px;
}

.espacoInferiorUsuario{
    margin-bottom: 2%;
}

.espacoAcima {
    margin-top: 10% !important;
}

.espacoSuperiorSidebarUser {
    margin-top: 18%;
}

.espacoIcon{
  margin-left: 5%;
}

.tituloPagUser{
  font-size: 2em !important;
}

.espacoInferiorFotoPerfilEditar{
  margin-bottom: 2%;
}

.espacoInferiorEditarUsuario{
  margin-bottom: 5%;
}

.espacoLabelsCadastroUsuario{
  margin-top: 3.2%;
}

.chip.chip-md {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  }
  .chip.chip-md img {
  height: 42px;
  width: 42px;
  }
  .chip.chip-md .close {
  height: 42px;
  line-height: 42px;
  border-radius: 21px;
  }
  .chip.chip-lg {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
  }
  .chip.chip-lg img {
  height: 52px;
  width: 52px;
  }
  .chip.chip-lg .close {
  height: 52px;
  line-height: 52px;
  border-radius: 26px;
  }

  .aEsquerda{
    float: left;
  }

  .negrito{
    font-weight: bold !important;
  }

  .espacoDireita{
    margin-right: 3px;
  }

  .botaoPesquisarMenu{
    color: #acacac;
    border-color: #ced4da;
  }

  .botaoPesquisarMenu:hover{
    background: #f75225;
    border-color: #f75225;
  }

  .nav-link:hover {
    color: #f75225 !important;
  }

  .espacoCadConteudo{
    margin-top: 5%;
  }

  .infosConteudo{
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    color: white;
    text-shadow: 0 0 10px #000;
  }

  .espacoAntesConteudo{
    margin-bottom: 6%;
  }

  .tag {
    background-color: #f75225 !important;
    font-weight: normal;
    margin-left: 5px; 
  }

  .disciplina {
    background-color: #5b9bd1 !important;
    font-weight: normal; 
    margin-left: 5px;
  }

  .espacoIconInfo{
    margin-right: 7px;
    text-shadow: 0 0 50px #000;
  }

  .espacoSalvar{
    margin-top: 30px;
    font-family: 'Open Sans', sans-serif !important;
  }

  .select2-container--default.select2-container--focus .select2-selection--multiple{
    border: solid #cfcfcf 1px !important;
}

.table-wrapper {
  width: 700px;
  margin: 30px auto;
      background: #fff;
      padding: 20px;	
      box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }
  .table-title {
      padding-bottom: 10px;
      margin: 0 0 10px;
  }
  .table-title h2 {
      margin: 6px 0 0;
      font-size: 22px;
  }
  .table-title .add-new {
      float: right;
  height: 30px;
  font-weight: bold;
  font-size: 12px;
  text-shadow: none;
  min-width: 100px;
  border-radius: 50px;
  line-height: 13px;
  }
.table-title .add-new i {
  margin-right: 4px;
}
  table.table {
      table-layout: fixed;
  }
  table.table tr th, table.table tr td {
      border-color: #e9e9e9;
  }
  table.table th i {
      font-size: 13px;
      margin: 0 5px;
      cursor: pointer;
  }
  table.table th:last-child {
      width: 100px;
  }
  table.table td a {
  cursor: pointer;
      display: inline-block;
      margin: 0 5px;
  min-width: 24px;
  }    
table.table td a.add {
      color: #27C46B;
  }
  table.table td a.edit {
      color: #5b9bd1;
  }
  table.table td a.delete {
      color: #E34724;
  }
  table.table td i {
      font-size: 19px;
  }
table.table td a.add i {
      font-size: 24px;
    margin-right: -1px;
      position: relative;
      top: 3px;
  }    
  table.table .form-control {
      height: 32px;
      line-height: 32px;
      box-shadow: none;
      border-radius: 2px;
  }
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

.gerenciarSelect {
  width: 10%;
}