.linkEntrarMenu {
    font-weight: 400;
    margin: 0em 0.7em;
    font-size: 0.9em;
    font-weight: normal;
    color: #fff;
    padding: 0 6px;
    letter-spacing: 2px;
    display: inline-block;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.linkEntrarMenu:hover {
    color: #f75225;
}

.linkItemRecemPostado:hover {
    color: #f75225;
}